RewriteEngine On

RewriteRule ^([0-9a-zA-Z-_/]+)$ index.php [QSA]
RewriteCond %{HTTP_HOST} ^tattooandlife\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.tattooandlife.com/$1 [R,L]